[Unit]
Description=uWSGI Bill Tracker server instance
After=syslog.target

[Service]
ExecStart=/webapps/venv/bin/uwsgi -H /webapps/venv --ini-paste /webapps/app_bill/production.ini
RuntimeDirectory=/webapps/app_bill/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target